.about-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
  background-color: #0a192f;
  color: #ffffff;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-left {
  flex: 1;
  min-width: 100%;
}

.about-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
  border-bottom: 3px solid #3fa9f5;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.about-left p {
  font-size: clamp(1rem, 2vw, 1.1rem);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.blue-highlight {
  color: #3fa9f5;
  font-weight: 600;
}

.about-right {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-card {
  background-color: transparent;
  padding-left: 28px;
  padding-top: 32px;
  position: relative;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-card li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #3fa9f5;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.card-subtitle {
  color: #00bfff;
  font-weight: 500;
  margin-top: 0.2rem;
}

.card-details,
.card-location {
  font-size: 0.9rem;
  color: #aaa;
}

.about-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 26%;
  height: 70%;
  width: 1px;
  background-color: #3fa9f5;
}

@media (min-width: 768px) {
  .about-left {
      min-width: 300px;
  }

  .about-right {
      min-width: 280px;
  }

  .about-section {
      padding: 5rem 3rem;
  }
}